.modulos {
    background: none;
    min-height: 90vh;
    padding-top: 40px;
    color: var(--color-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

    .modulos .card-shadow {
        background: hsl(0, 0%, 100%);
        border-radius: 20px;
        box-shadow: 0px 0px 16px 4px rgba(28, 0, 47, 0.1);
        padding: 48px 76px;
    } 

    .button-modulo-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 314px);
        justify-content: space-between;
    }

    .modulos .titulo-modulo {
        color: var(--color-black);
        font-size: 2rem !important;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    /* Defintion Lists */

    .modulos dl{
        margin: 0;
    }

        .modulos dl .modulo-dl {
            display: flex;
        }

            .modulos dl .modulo-dl dt{
                margin-right: 8px;
            }
    
    /* Buttons - Global Actions*/

    .modulos .global-actions,
    .modal .global-actions{
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 16px;
        margin-bottom: 32px;
    }

        .modulos .global-actions a,
        .modal .global-actions a{
            text-decoration: none;
            color: #6500E4;
            margin: 0 8px;
        }

    /* Tables */ 
 
    .modulos .table > :not(caption) > * > *{
        padding: 0.5rem 1rem;
    }

    .modulos .table td,
    .modal .table td{
        text-align: left;
        font-size: 14px;
        vertical-align: middle;
    }

        .modulos .table td a,
        .modal .table td a{
            text-decoration:  none;
        } 

        .modulos .table .text-center,
        .modal .table .text-center{
            text-align: center;
        }

        .modulos .table .text-right,
        .modal .table .text-right{
            text-align: right;
        }

        .modulos .table thead,
        .modal .table thead,
        .modulos .table tfoot,
        .modal .table tfoot{
            background: #FFF0E2;
        }

        .modulos .table th,
        .modal .table th{
            font-weight: 800;
            font-size: .9rem; 
            vertical-align: middle;
        } 

            .modulos .table .width-column{
                width: 104px!important;
            }

            .modulos .table .width-column-sm{
                width: 64px!important;
            }

            .modulos .table .width-column-xs{
                width: 40px!important;
            }
 
            .modulos .table .width-column-xxs{
                width: 15px!important;
            }
 
            /* Checkbox Table Head Column */

            .modulos .table th .checkbox-column{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: var(--color-primary);
                font-size: 12px;
                font-weight: 600;
            }
        
                .modulos .table th .checkbox-column.lock{
                    color: var(--color-black);
                }
    
                    .modulos .table th .checkbox-column input[type="checkbox"]{
                        width: 16px;
                        height: 16px;
                    }   
 
    .card-shadow-footer-mobile{
        background: #FFF0E2;
        padding: .5rem!important
    }

    .card-shadow-footer-mobile a{
        color: var(--color-black);
    }
 
    /* Row actions */

    .modulos .row-actions,
    .modal .row-actions{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modulos .row-actions a,
    .modal .row-actions a{
        text-align: center;
        width: 24px;
        height: 24px;
        margin: 0;
    }

        .modulos .row-actions a img,
        .modal .row-actions a img{
            width: 100%;
        }  

    /* Nav Tabs */

    .modulos .nav-tabs .nav-item {
        width: 50%;
    }

    .modulos .nav-tabs.nav-underline .nav-link{
        color: var(--color-black);
        border: none;
        width: 100%;
    }

        .modulos .nav-tabs.nav-underline,
        .modulos .nav-tabs.nav-underline .nav-link.active,
        .modulos .nav-tabs.nav-underline .nav-link:hover,
        .modulos .nav-tabs.nav-underline .nav-link:focus,
        .modulos .nav-tabs.nav-underline .nav-link:focus-visible{
            border: none;
            outline: 0;
            box-shadow: none;
            color: var(--color-primary);
            background: none;
            font-weight: bold;
        }

            .modulos .nav-tabs.nav-underline .nav-link.active::after{
                content: '';
                display: block;
                width: 100%;
                height: 4px;
                background: var(--color-primary);
                border-radius:4px;
            }  

    /* calificaciones */  

    .modulos.calificaciones .head-column-note, 
    .modal .head-column-note { 
        font-size: 12px;
        width: 100%;
        font-weight: 900;
        color: var(--color-primary);
        border-bottom: none;
        cursor: pointer;
        max-width: 60%;
        margin: 0 auto;
        padding: 4px;
    }

    .modulos.calificaciones .head-column-note.active,
    .modal .head-column-note.active { 
        background: var(--color-primary);
        border-radius: 8px;
        color:white;
    }

    .modulos.calificaciones .head-column-note.active .edit-note img{ 
        filter: invert(1) brightness(1) contrast(1) grayscale(1);
    }   

    .modulos.calificaciones .head-column-note .edit-note,
    .modal .head-column-note .edit-note{
        font-size: 16px;
        font-weight: 900; 
    }

    .modulos.calificaciones .head-column-prom,
    .modal .head-column-prom {
        font-size: 16px;
        font-weight: 900;
        border-top: none;
        border-bottom: none;
    }

    .modulos.calificaciones .border-end{ 
        border-right-style: solid;
        border-right-width: 1px; 
        border-right-color: #CED4DA;
    }

    .modulos.calificaciones tfoot td,
    .modal tfoot td {
        border-bottom: none;
        color: var(--color-black)
    }

    .modulos.calificaciones td.note-input,
    .modal td.note-input{
        text-align: center; 
        width: auto;
        transition: all .3s ease-in-out;
    }

    .modulos.calificaciones td.note-input.active,
    .modal td.note-input.active{
        background: #FFF9E1;
    }

    .modulos.calificaciones td.note-input .form-control,
    .modal td.note-input .form-control{
        width: 100%;
        max-width: 40px;
        box-sizing: border-box;
        padding: 0;
        text-align: center;
        background: none;
        border-color: white;
        pointer-events: none;
        margin: 0 auto;    
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        transition: all .3s ease-in-out;
        user-select : none;
        -moz-user-select : none;
        -webkit-user-select : none;  
    }

    .modulos.calificaciones td.note-input.active .form-control,
    .modal td.note-input.active .form-control{
        color: black;
        background: white;
        pointer-events: all;
        user-select: text;
        -moz-user-select : text;
        -webkit-user-select : text;  
    }

    /* alertas */

    .modal .alert,
    .modulos .alert{
        display: flex;
        justify-content: center;
        border-radius: 24px;
        align-items: center;
    }

    .modal .alert.alert-success,
    .modulos .alert.alert-success{
        border-color:#A2EEAE;
        background-color: #E1FFE6;
    }

    .modal .alert.alert-success .icon-check,
    .modulos .alert.alert-success .icon-check{
        width: 29px; 
        height: 29px;
        border-radius: 50px;
        background: #03BB85;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;   
    }

    .modulos .alert.alert-warning { 
        border: 1px solid #FFF0B3;
        background: #FFF9E1;
    } 

    /* input file */

    .input-file{
        position: relative;
        margin-bottom: .25rem;
    }

        .input-file input[type=file] {
            border-radius: 50px;
            padding: 0.375rem 1.2rem;
        }
  
        .input-file input[type=file]::-webkit-file-upload-button {
            display: none;
        }

        .input-file input[type=file]::file-selector-button {
            display: none;
        }  
    
        .input-file input[type='file']:invalid { 
            font-size: 0; 
        }
        
        ::file-selector-button { 
            display: none;
        } 

        .input-file input[type='file']:invalid:before{
            content: "Subir archivo";
            padding: 0;
            border-radius: 50px;
            color: black;
            font-size: 16px;
            line-height: 1.6rem !important;
        } 

        .input-file .form-control:focus {
            color: black;
        }

        .input-file .input-file-icon{
            width: 20px;
            height: 20px;
            position: absolute;
            right: 18px; 
            top: 10px;
        }

    /* btn close*/

    .btn-close{
        background-size: 2em;
        top: 0;
        right: 0;
        position: absolute;
    }

    /* helpers */
 
    .icon-size-xs{
        width: 16px!important;
        height: 16px!important; 
    } 

    .active-label  + .form-control::placeholder{
        color: #6c757d!important;
    }

    input[type="date"]::internal-datetime-container { 
        flex-direction: row-reverse;
        background: black;
        display: flex;
    }

    .shadow-sm{
        box-shadow: 0px 0px 16px 4px rgba(28, 0, 47, 0.10);
    }

    .tooltip-inner{
        background: #343A40
    }

    .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before, .bs-tooltip-bottom .tooltip-arrow::before{
        border-bottom-color: #343A40
    }

    .modal .badge.bg-success{
        background: #03BB85;
    }
  
    .modal .alert.alert-success .icon-check,
    .modulos .alert.alert-success .icon-check{
        display: none;
    } 
    
/* desktop */

@media (min-width: 769px){    

    .modulos { 
        background-image: url(../../img/fondo-seccion-interior.svg);
        background-position: center 135px;
        background-repeat: no-repeat;
        background-size: 90%;
        background-attachment: fixed;
    }

    .modulos .nav-tabs .nav-item {
        width: auto;
    }
    .modulos.calificaciones td.note-input, .modal td.note-input{
        padding: 0;
    }
    
    .modal .alert.alert-success .icon-check,
    .modulos .alert.alert-success .icon-check{
        display: block;
    } 
     
} 

/* mobile table */

@media screen and (max-width: 1200px) {
    .modulos .table,
    .modal .table {
        border: 0;
    }

    .modulos .table caption,
    .modal .table caption {
      font-size: 1.3em;
    }

    .modulos .table thead,
    .modal .table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .modulos .table tr,
    .modal .table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    .modulos .table td,
    .modal .table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1rem;
      text-align: right!important;
    }
    
    .modulos .table td::before,
    .modal .table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold; 
    }

    .modulos td.note-input .form-control, 
    .modal td.note-input .form-control{
        margin: 0 0 0 auto;
    }

    
    .modulos .table .width-column-xxs{
        width: auto!important;
    }
     
  }